*{
    margin:0%;
    padding: 0%;
}
body{
    background-image: url('../logo/fondo4.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}
.nav-link{
    color: rgb(181, 78, 78) !important;
    font-size: 13px;
}

.nav-link:hover{
    color: royalblue !important;

}


                        /*INDEX*/
/*Grid Area*/
#h-index{
    grid-area: h-index;
}
#s-index{
    grid-area: s-index;
}
#carrusel-index{
    grid-area: carrusel-index;
}
#f-index{
    grid-area: f-index;
}
.border {
    border: 1px solid black;
}
#grilla-index{ 
        display: grid;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
        grid-template-areas: "h-index h-index " "s-index s-index" " carrusel-index carrusel-index" "f-index f-index";
}
.carrusel-doble{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto  ;
    column-gap: 10px;
    row-gap: 10px;
}
.carousel-inner{
    width: 500px;
    height: 500px;
}
.titulo-index{
    width: auto;
    height: auto;
    background-color: aqua;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;

}
@keyframes efecto{
        0%{}
        25%{ width: auto ;}
        50%{width:auto; background-color: rgb(108, 161, 143);}
        75%{width:auto;}
        100%{width:auto ;}
    }





                    /*Nosotros*/
/*Grid Area*/
#h-nosotros{
    grid-area: h-nosotros;
}
#s-nosotros{
    grid-area: s-nosotros;
}
#carrusel-nosotros{
    grid-area: carrusel-nosotros;
}
#f-nosotros{
    grid-area: f-nosotros;
}
.border {
    border: 1px solid black;
}
#grilla-nosotros{ 
        display: grid;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
        grid-template-areas: "h-nosotros h-nosotros" "s-nosotros s-nosotros" "carrusel-nosotros carrusel-nosotros" "f-nosotros f-nosotros";
}

.personal-nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
}
.sub-nosotros{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

                    /*Varietales*/
/*Grid Area*/
#h-varietal{
    grid-area: h-varietal;
}
#s-varietal{
    grid-area: s-varietal;
}
#tabla-varietales{
    grid-area: tabla-varietales;
}
#f-varietal{
    grid-area: f-varietal;
}
.border {
    border: 1px solid black;
}
#grilla-varietales{ 
        display: grid;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
        grid-template-areas: "h-varietal h-varietal " "s-varietal s-varietal" "tabla-varietales tabla-varietales" "f-varietal f-varietal";
}
.tabla-varietal{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(8, auto);
    row-gap: 20px;
    column-gap:20px;
    
}
.tabla-varietal{
    border: 1px solid black;
}
.varietal{
    background:  #ecf0f1;
    padding: 1em;
}
.varietal :hover{
    border: 1px solid lightskyblue;

}


                    /*Contacto*/

#h-contacto{
    grid-area: h-contacto;
}
#formulario{
    grid-area: formulario;
}
#ubicacion{
    grid-area: ubicacion;
}
#f-contacto{
    grid-area: f-contacto;
}
#grilla-contacto{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row: 25px;
    grid-template-areas: "h-contacto h-contacto" "formulario formulario" "ubicacion ubicacion" "f-contacto f-contacto";
}
.formulario-texto{
    width: 500px;
    height: 500px;
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 5px;
}

.ubi{
    padding: 10px;
    text-align: center;
}
.mapa{
    text-align: center;
}

                /*Tienda*/
#h-tienda{
    grid-area: h-tienda;
}
#s-tienda{
    grid-area: s-tienda;
}
#s-productos{
    grid-area: s-productos;
}
#f-tienda{
    grid-area: f-tienda;
}
#grilla-tienda{
    display: grid;
    grid-template-rows: auto auto auto auto ;
    row-gap: 20px;
    grid-template-areas: "h-tienda h-tienda" "s-tienda s-tienda" "s-productos s-productos" "f-tienda f-tienda";
}

.tintos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
    
}


.blancos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
}


.promos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
}

.botellas:hover{
    border: 1px solid lightskyblue;

}

.botellas{
    text-align: center;
}

                                /*RESPONSIVE 360px*/
@media screen and (min-width:360px){
    
    body{
            background-image: url('../logo/fondo4.png') ;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100vw 100vh;
            background-attachment: fixed;
            overflow-x: hidden;
        }
        
        /*INDEX*/
    .carrusel-doble{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto ;
        }
    .carousel-inner{
            width: 360px;
            height: 250px;
        }
    
        
        /*Nosotros*/

    .personal-nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    row-gap: 5px;
    }
    .sub-nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto ;
    row-gap: 5px;
    }
    .gif-nosotros{
        width: 360px;
        height: 360px;
    }
    .gif-tamano{
        width: 360px;
        height: 360px;
    }


    /*Varietales*/

    .tabla-varietal{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(24, auto);
        row-gap: 20px;
        column-gap:20px;
        
    }
    .varietal{
        width: 360px;
        height: 360px;
    }

    /*Tienda*/
    .tintos{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        
        
    }
    
    
    .blancos{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        
    }
    
    
    .promos{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        
    }
    
    .botellas:hover{
        border: 1px solid lightskyblue;
    
    }
    
    .botellas{
        text-align: center;
    }

        /*Contacto*/

        .formulario-texto{
            width: 360px;
            height: 700px;
            background-color: rgba(0,0,0,0.4);
            padding: 30px;
            margin: auto;
            margin-top: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            border-radius: 5px;
        }
        #formulario{
            width: 360px;

        }
        
        .ubi{
            padding: 10px;
            text-align: center;
        }
        input, textarea{
            width:100% ;
            margin-bottom: 25px;
            padding: 10px;
            box-sizing: border-box;
        }
        .mapa{
            text-align: center;
            
        }
        .mapa-tam{
            width: 360px;
            height: 400px;
        }
}

                /*Responsive 768px*/
@media screen and (min-width:768px){
    body{
        background-image: url('../logo/fondo4.png') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        overflow-x: hidden;
    }
    
    /*INDEX*/
.carrusel-doble{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        column-gap: 3px;
        row-gap: 2px;
    }
.carousel-inner{
        width: 384px;
        height: 510px;
    }

    
    /*Nosotros*/

.personal-nosotros{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto ;
row-gap: 5px;
}
.sub-nosotros{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
row-gap: 5px;
}
.gif-nosotros{
    width: 360px;
    height: 360px;
}
.gif-tamano{
    width: 360px;
    height: 360px;
}


/*Varietales*/

.tabla-varietal{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(8, auto);
    row-gap: 20px;
    column-gap:20px;
    
}
.varietal{
    width: 240px;
    height: 360px;
}

/*Tienda*/
.tintos{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    
    
}


.blancos{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    
}


.promos{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    
}

.botellas:hover{
    border: 1px solid lightskyblue;

}

.botellas{
    text-align: center;
}

    /*Contacto*/

    .formulario-texto{
        width: 768px;
        height: 768px;
        background-color: rgba(0,0,0,0.4);
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        border-radius: 5px;
    }
    #formulario{
        width: 768px;

    }
    
    .ubi{
        padding: 10px;
        text-align: center;
    }
    input, textarea{
        width:100% ;
        margin-bottom: 25px;
        padding: 10px;
        box-sizing: border-box;
    }
    .mapa{
        text-align: center;
        
    }
    .mapa-tam{
        width: 768px;
        height: 850px;
    }
}
                                /*RESPONSIVE 1024px*/
@media screen and (min-width:1024px){
    
    body{
            background-image: url('../logo/fondo4.png') ;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100vw 100vh;
            background-attachment: fixed;
            overflow-x: hidden;
        }
        
        /*INDEX*/
    .carrusel-doble{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }
    .carousel-inner{
            width: 450px;
            height: 340px;
        }
    
        
        /*Nosotros*/

    .personal-nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    row-gap: 5px;
    }
    .sub-nosotros{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5px;
    }
    .gif-nosotros{
        width: 480px;
        height: 500px;
    }
    .gif-tamano{
        width: 480px;
        height: 360px;
    }


    /*Varietales*/

    .tabla-varietal{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(8, auto);
        row-gap: 5px;
        column-gap:5px;
        
    }
    .varietal{
        width: 330px;
        height: 450px;
    }

    /*Tienda*/
    .tintos{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        
        
    }
    
    
    .blancos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        
    }
    
    
    .promos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        
    }
    
    .botellas:hover{
        border: 1px solid lightskyblue;
    
    }
    
    .botellas{
        text-align: center;
    }

        /*Contacto*/

        .formulario-texto{
            width: 900px;
            height: 700px;
            background-color: rgba(0,0,0,0.4);
            padding: 30px;
            margin: auto;
            margin-top: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            border-radius: 5px;
        }
        #formulario{
            width: 360px;

        }
        
        .ubi{
            padding: 10px;
            text-align: center;
        }
        input, textarea{
            width:100% ;
            margin-bottom: 25px;
            padding: 10px;
            box-sizing: border-box;
        }
        .mapa{
            text-align: center;
            
        }
        .mapa-tam{
            width: 1024px;
            height: 800px;
        }
}
                                /*RESPONSIVE 1024px*/
@media screen and (min-width:1440px){
    
    body{
            background-image: url('../logo/fondo4.png') ;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100vw 100vh;
            background-attachment: fixed;
            overflow-x: hidden;
        }
        
        /*INDEX*/
    .carrusel-doble{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }
    .carousel-inner{
            width: 680px;
            height: 480px;
        }
    
        
        /*Nosotros*/

    .personal-nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    row-gap: 5px;
    }
    .sub-nosotros{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5px;
    }
    .gif-nosotros{
        width: 480px;
        height: 500px;
    }
    .gif-tamano{
        width: 630px;
        height: 500px;
    }


    /*Varietales*/

    .tabla-varietal{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(8, auto);
        row-gap: 5px;
        column-gap:5px;
        
    }
    .varietal{
        width: 450px;
        height: 450px;
    }

    /*Tienda*/
    .tintos{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        
        
    }
    
    
    .blancos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        
    }
    
    
    .promos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        
    }
    
    .botellas:hover{
        border: 1px solid lightskyblue;
    
    }
    
    .botellas{
        text-align: center;
    }

        /*Contacto*/

        .formulario-texto{
            width: 900px;
            height: 700px;
            background-color: rgba(0,0,0,0.4);
            padding: 30px;
            margin: auto;
            margin-top: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            border-radius: 5px;
        }
        #formulario{
            width: 360px;

        }
        
        .ubi{
            padding: 10px;
            text-align: center;
        }
        input, textarea{
            width:100% ;
            margin-bottom: 25px;
            padding: 10px;
            box-sizing: border-box;
        }
        .mapa{
            text-align: center;
            
        }
        .mapa-tam{
            width: 1440px;
            height: 800px;
        }
}