@import "../variables";
/*Nosotros*/

/*Grid Area*/
#h-nosotros {
    grid-area: h-nosotros;
}

#s-nosotros {
    grid-area: s-nosotros;
}

#carrusel-nosotros {
    grid-area: carrusel-nosotros;
}

#f-nosotros {
    grid-area: f-nosotros;
}

.border {
    border: 1px solid black;
}

#grilla-nosotros {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    grid-template-areas: "h-nosotros h-nosotros" "s-nosotros s-nosotros" "carrusel-nosotros carrusel-nosotros" "f-nosotros f-nosotros";
}
.gif-tam{
    text-align: center;
    width: auto;
    
}.gif-tam{
    text-align: center;
    width: auto;
    
}
