@import "../variables";
/*Nosotros*/

/*Grid Area*/
#h-nosotros {
    grid-area: h-nosotros;
}

#s-nosotros {
    grid-area: s-nosotros;
}

#carrusel-nosotros {
    grid-area: carrusel-nosotros;
}

#f-nosotros {
    grid-area: f-nosotros;
}

.border {
    border: 1px solid black;
}

#grilla-nosotros {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    grid-template-areas: "h-nosotros h-nosotros" "s-nosotros s-nosotros" "carrusel-nosotros carrusel-nosotros" "f-nosotros f-nosotros";
}

.personal-nosotros {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    .sub-nosotros {
    display: grid;
    grid-template-columns: auto auto;
    -moz-column-gap: 15px;
    column-gap: 15px;
    }
}
